{% extends "base2.html" %}
{% block conteudo %}

     <form method="POST" ACTION="">
     {% csrf_token %}
         <table border="0">
            <tr>
                <td><input type="text" name="pesquisa" id="pesquisar" placeholder="Pesquisar um nome" /></td>
                <td><input type="submit" class="btn" value="Pesquisar" /></td>
                <td><a href="/admin/auth/user/add" target="_blank">Novo usuário</a></td>
            </tr>

        </table>
     </form>

    <table border="0">
            <thead>
          <tr>
              <th data-field="Nome">Nome</th>
              <th data-field="Número SUS">Número SUS</th>
              <th data-field="Ações">Ações</th>
          </tr>
        </thead>
<tbody>
{% for prof in profs %}
    <tr>
        <td>{{ prof.user.get_full_name }}</td>
        <td>{{ prof.get_especialidade_display }}</td>
        <td>
            <a href="/profissionais?profid={{ prof.id }}"><i class="material-icons">mode_edit</i></a> &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;
            <a href="horariolist?idprof={{ prof.id }}">Horário</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
    <a href="/profissionais?profid=0" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

{% endblock %}